@use "/src/globals" as *;

.settings {
    &--light {
        .settings__modal,
        .settings__group {
            border: 1px solid $font-color-light;
        }
    }

    &__icon {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 50px;
        height: 50px;
    }

    &__modal {
        position: absolute;
        top: 60px;
        right: 5px;
        padding: 18px;

        border: 1px solid $font-color-dark;
    }

    &__setting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    &__group {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid $font-color-dark;
        padding: 8px;

        & > label {
            text-align: center;
        }
    }
}
